* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* background-color: #EAEAEA*/
  }
  /********************header style start*************************/
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .header-top {
    height: 50px;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6f3a58;
    color: #f8f8f8;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
  }
  .user-info {
    color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .header-bottom {
    height: 92px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    width: 97%;
  }
  .header-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  .header-top-logo {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
  }
  .logo {
    padding-left: 7px;
  }
  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 50%;
  }
  .nav-item-link {
    text-decoration: none;
    color: #6f3a58;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-family: "Marcellus", serif;
  }
  .nav-item-link:hover {
    color: #6f3a58;
    font-weight: 600;
  }
  .header-icon {
    width: 15%;
    font-size: 24px;
    color: #6f3a58;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  #menu-icon {
    display: none;
  }
  /********************header style end*************************/
  /********************hero style start*************************/
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #6f3a58;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 0 2px;
    background-color: #dccecf;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #6f3a58;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .hero-container {
    background-image: url(/img/bg-img-1.jpg);
    background-size: cover;
    width: 100%;
    height: 526.055px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-content {
    height: 70%;
    width: 70%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
    gap: 10px;
  }
  .hero-title {
    font-family: "Great Vibes", cursive;
    color: #6f3a58;
    font-size: 130px;
    line-height: 1.1;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .hero-description {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 36px;
    text-transform: uppercase;
    color: #151515;
    margin-left: 8%;
  }
  .text-decor-line:before {
    content: "";
    position: absolute;
    left: 7%;
    top: 54%;
    transform: translateY(-50%);
    width: 80px;
    height: 2px;
    background-color: #151515;
  }
  .hero-subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 1.4;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .hero-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #6f3a58;
    height: 60px;
    width: 150px;
    font-weight: 400;
    line-height: 2px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: #6f3a58;
    border-image: initial;
    border-radius: 6px;
    padding: 9px 25px;
    box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
    font-family: Poppins, sans-serif;
    margin-left: 7%;
  }
  .hero-btn:hover {
    animation-name: fadeIn;
    animation-duration: 2s;
  }
  #slider2 {
    background-image: url(/img/bg-img2.jpg);
  }
  #slider3 {
    background-image: url(/img/bg-img3.jpg);
  }
  /********************hero style end*************************/
  
  /********************category style start*************************/
  .section-title-name {
    font-family: Poppins, sans-serif;
    color: #6f3a58;
    font-size: 26px;
    line-height: 1.1;
    text-align: left;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
    height: 60px;
    margin-top: 40px;
  }
  .categories-container {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 3% auto;
  }
  .categories-item {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .categories-item-img {
    width: 80px;
    height: 80px;
  }
  .categories-item-img:hover {
    width: 100px;
    height: 100px;
  }
  .categories-item-name {
    color: #000;
    text-align: center;
    font-size: 26px;
  }
  /********************category style end*************************/
  /********************features style start*************************/
  .featured-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto;
    justify-content: space-between;
    gap: 20px;
  }
  .featured-card {
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    animation-duration: slideInRight;
    animation-duration: 2s;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    gap: 20px;
  }
  .featured-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .featured-card-data {
    padding: 2px 16px;
  }
  .card-img {
    width: 270px;
    height: 200px;
    padding: 10px;
    border: 1px solid #e1e1e1;
  }
  .featured-card-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    color: #000;
    text-align: center;
  }
  .feat-a:hover {
    color: #6f3a58;
  }
  .feat-a {
    text-decoration: none;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    color: #000;
  }
  .feat-details {
    margin-top: 10px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.075em;
    text-align: center;
    color: #252525;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  }
  .card-info-link {
    color: #6f3a58;
    font-size: 16px;
    padding: 10px 18px;
  
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border: 1px solid #6f3a58;
  }
  .card-info-link:hover {
    color: #6f3a58;
    border: 1px solid #6f3a58;
    background-color: #6f3a58;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
  }
  
  /********************features style end*************************/
  /********************footer style start*************************/
  .footer-container {
    width: 100%;
    background-color: #6f3a58;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 300px;
    margin-top: 3%;
  }
  .footer-top {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .footer-items {
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
    gap: 100px;
    font-family: Poppins, sans-serif;
  }
  .footer-items a {
    text-decoration: none;
    color: #f8f8f8;
    font-family: Poppins, sans-serif;
  }
  .footer-bottom {
    height: 13%;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    border-top: 1px solid #dccecf;
    font-size: 16px;
    font-weight: 200;
  }






  /* Style the buttons */
#myBtnContainer {
    padding: 0.5rem;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem 0.2rem;
    border: 1px solid #6f3a58;
    border-radius: 5rem;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    margin: auto;
  }
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  
  .btn:hover {
    border: 1px solid #6f3a58;
    border-radius: 2rem;
  }
  
  .btn.active {
    background-color: #6f3a58;
    border-radius: 2rem;
    color: #f8f8f8;
  }
  
  .hero2-container {
    background-image: url(/img/heropage2-bg.jpg);
    height: 200px;
    background-size: 100% 100%;
  }
  /*******/
  .page-breadcrumb {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    background-color: rgba(220, 206, 207, 0.3);
    margin-bottom: 2%;
    font-family: Poppins, sans-serif;
  }
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #6f3a58;
    text-decoration: underline;
  }
  .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  .main-left {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .main-left-cat {
    font-family: Poppins, sans-serif;
  }
  .cat-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 40px;
    color: #6f3a58;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }
  .cat-content:hover {
    font-weight: 700;
  }
  .cat-title {
    background-color: #6f3a58;
    color: #fff;
    height: 42px;
    display: flex;
    align-items: center;
    font-family: Poppins, sans-serif;
    padding: 4px;
    cursor: pointer;
  }
  .main-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .sort-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .sort-icon {
    color: #6f3a58;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  .sort-filter {
    color: #6f3a58;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-family: Poppins, sans-serif;
  }
  .dropbtn {
    padding: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border: 1px solid #6f3a58;
    font-family: Poppins, sans-serif;
  }
  
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #6f3a58;
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #6f3a58;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  .featured-card-page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    
    text-align: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #6f3a58;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }











  
/* title and image recipe start  */
.ricipe-container-details{
  display: grid;
  grid-template-columns: 80% 20%;
}
.title-recipe-left{
   font-family: 'Marcellus', serif;
   font-size: 2rem;
   padding-left: 6%;
   color: #6F3A58;
}
.title-recipe-right{
   display: flex;
   justify-content: center;
   gap: 25px;
   font-size: 1.5rem;
}
.image-recipe-container{
   display: grid;
   grid-template-columns: 60% 40%;
   padding-left: 6%;
   width: 100%;
   height: 40vh;
}

.image-right{
  width: 100%;
  height: 40vh;
  background-image: url(/caak.jpg.jpg);
  background-size: cover;
}
.image-left{
   width: 100%;
   display: grid;
   grid-template-rows: auto auto auto;
}
/* title and image recipe end  */

/*  line under image start  */
.line-under-img-recipe{
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   margin: 0 -18px 25px;
}

.left-line{
   width: 100%;
   height: 7px;
   border-top: 1px solid #eae9e7;
   border-bottom: 1px solid #eae9e7;
   margin: 0 18px;
}
.recipe-time{
   -webkit-box-flex: 0;
   flex: 0 0 auto;
   height: 24px;
   line-height: 24px;
   margin: 0 10px;
}
.icon-time{
   font-size: 14px;

}
.recipe-like{
   -webkit-box-flex: 0;
   flex: 0 0 auto;
   height: 24px;
   line-height: 24px;
   margin: 0 10px;
}
.icon-like{
   font-size: 14px;    
}
.right-line{
   width: 100%;
   height: 7px;
   border-top: 1px solid #eae9e7;
   border-bottom: 1px solid #eae9e7;
   margin: 0 18px;
}
/*  line under image end  */


/* recipe descreption start  */
.recipe-descreption-container{ 
   height: 45vh;
   display: flex;
   flex-direction: column;

}
.title-descreption{
   padding-left: 6%;
   font-family: 'Lato', sans-serif;
   color: #6F3A58;
   font-weight: bold;
   font-size: 1.5rem;
   height: 4vh;
}
.rate-recipe{
   padding-left: 6%;
   height: 3vh;
   padding-top: 1%;
}

.para-descreption{
   padding-left: 6%;
   width: 70%;
   height: 3vh;
   font-family: 'Lato', sans-serif;
   font-size: 1.5rem;
   line-height: 3rem;
   padding-top: 1%;
}
/* recipe descreptio end  */

/* hr theme start */
.hr-theme-slash-2 {
   display: flex;
}
.hr-line {
   width: 100%;
   position: relative;
   margin: 15px;
   border-bottom: 1px solid #888888;
}
.hr-icon{
   position: relative;
   top: 3px;
}
/* hr theme end */


/* recipe Ingredients start */
.ingredients-container{
   width: 100%;
   height: 55vh;
   align-items: center;
}

.ingredients-title{
   padding-left: 6%;
   font-family: 'Lato', sans-serif;
   color: #6F3A58;
   font-weight: bold;
   font-size: 2rem;
   height: 4vw;
}
.ingredients-ol{
   width: 100%;
   height: 33vh;
   list-style: circle inside;
   padding-left: 6%;
   width: 70%;
   height: 25vh;
   font-family: 'Lato', sans-serif;
   font-size: 1.5rem;
   line-height: 4rem;
}
 /* recipe Ingredients end */


  /* hr theme start */
.hr-theme-slash-2 {
   display: flex;
}
.hr-line {
   width: 100%;
   position: relative;
   margin: 15px;
   border-bottom: 1px solid #888888;
}
.hr-icon{
   position: relative;
   top: 3px;
}
/* hr theme end */


/* directions start */
.directions-container{
   width: 100%;
   height: 55vw;
   display: flex;
   flex-direction: column;
}
.directions-title{
   padding-left: 6%;
   font-family: 'Lato', sans-serif;
   color: #6F3A58;
   font-weight: bold;
   font-size: 2rem;
   height: 5vw;
}
.step-one{
   width: 100%;
   height: 20vh;
}
.title-step-one{
   width: 100%;
   display: flex;
   padding-left: 6%;
   font-family: 'Lato', sans-serif;
   color: #302027;
   font-weight: bold;
   font-size: 1.5rem;
   height: 7vh;
}
#icon-step{
   width: 30px;
}
.para-step-one{
   padding-left: 8%;
   width: 70%;
   /* height: 8vh; */
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
}

.step-two{
   width: 100%;
   height: 22vh;
}
.title-step-two{
   width: 100%;
   display: flex;
   padding-left: 5%;
   font-family: 'Lato', sans-serif;
   color: #302027;
   font-weight: bold;
   font-size: 1.5rem;
   height: 7vh;
}
#icon-step{
   width: 30px;
}
.para-step-two{
   padding-left: 8%;
   width: 70%;
   /* height: 10vh; */
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
}

.step-three{
   width: 100%;
   height: 35vh;
}
.title-step-three{
   width: 100%;
   display: flex;
   padding-left: 5%;
   font-family: 'Lato', sans-serif;
   color: #302027;
   font-weight: bold;
   font-size: 1.5rem;
   height: 7vh;
}
#icon-step{
   width: 30px;
}
.para-step-three{
   padding-left: 8%;
   width: 70%;
   /* height: 30vh; */
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
   line-height: 2rem;
}

.step-four{
   width: 100%;
   height: 47vh;
}
.title-step-four{
   width: 100%;
   display: flex;
   padding-left: 5%;
   font-family: 'Lato', sans-serif;
   color: #302027;
   font-weight: bold;
   font-size: 1.5rem;
   height: 7vh;
}
#icon-step{
   width: 30px;
}
.para-step-four{
   padding-left: 8%;
   width: 70%;
   /* height: 15vh; */
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
   line-height: 2rem;
}
/* directions end */


/* hr theme start */
  .hr-theme-slash-2 {
   display: flex;
}
.hr-line {
   width: 100%;
   position: relative;
   margin: 15px;
   border-bottom: 1px solid #888888;
}
.hr-icon{
   position: relative;
   top: 3px;
}
/* hr theme end */


/* Leave a Reply start*/
.Reply-container{
   width: 100%;
   height: 13vw;
   padding-top: 2vh;
}
.title-Reply{
   padding-left: 6%;
   font-family: 'Lato', sans-serif;
   color: #6F3A58;
   font-weight: bold;
   font-size: 2rem;
   height: 4vw;
}
.para-Reply{
   padding-left: 7%;
   width: 70%;
   height: 8vh;
   font-family: 'Lato', sans-serif;
   font-size: 1.2rem;
   line-height: 2rem;
}
.rate-Reply{
   padding-left: 7%;
   height: 3vh;
}
.input-container{
width: 100%;
height: 50vh;
align-items: center;
}
.comment-input{
height: 27vh;  
}
.comment{
   width: 90% ;
   height: 25vh;
   border: 1px solid rgb(133, 132, 132);
   margin-top: 20px;
   margin-left: 20px;
}
.name-input{
   width: 100%;
   display: grid;
   grid-template-columns: 40% 40%;
   gap: 20%;
}
.input-name{
  width: 100%;
  height: 20vh;
}

.rate-title{
width: 70%;
height: 5vh;
font-family: 'Lato', sans-serif;
font-size: 1.2rem;
line-height: 2rem;
}

.text-area-form{
   padding-left: 7%;
   width: 100%;
   height: 150px;
   
}

.text-area{
   width: 50%;
   height: 20vh;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}

.name-form{
  width: 50%;
  height: 10vh;
  padding-left: 7%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8%;
}

.first-name{
   height: 7vh;
   border: 2px solid #ccc;
}
.email{
   height: 7vh;
   border: 2px solid #ccc;
}

.Website-comment-form{
   padding-left: 7%;
   width: 100%;
}

.Website-comment{
   width: 50%;
   height: 7vh;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}
.checkbox-comment-form{
   padding-left: 7%;
   padding-top: 2%;
   width: 50%;
}

.button-comment-form{
   padding-left: 7%;
   padding-top: 2%;
}
.button-comment{
   width: 10%;
   height: 5vh;
   border: 2px solid #6F3A58;
   color: #000000;
   font-size: 0.3;
  
}
.button-comment:hover{
   background: none;
   background-color:#6F3A58;
   color: #f0f0f0;
}
/* Leave a Reply end*/

 /*******header style start********/
 .header-container{
  display: flex;
  flex-direction: column;
}
.header-top{
height: 50px;
color:#f2f2f2 ;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #6F3A58;
color: #f8f8f8;
font-size: 15px;
font-weight: 400;
line-height: 24px;
cursor: pointer;
vertical-align: middle;
font-family: "Poppins",sans-serif;
letter-spacing: 0.5px;
}

.user-info{
color: #f8f8f8;
display: flex;
justify-content: space-around;
gap: 20px;
}
.header-bottom{
height: 92px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  width: 97%;
}
.header-left{
  
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.header-top-logo{
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  display: flex;
  align-items: center;
 
}
.logo{
  padding-left: 7px;
}
.header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 50%;
}
.nav-item-link{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-family: 'Marcellus', serif;
}
.nav-item-link:hover{
color: #6F3A58;
font-weight: 600;
}
.header-icon{
width: 15%;
  font-size: 26px;
  color: #6F3A58;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
/*******header style end********/


/*********submit-Contents start style******/
.submit-Contents-container{
  width: 100%;
  height: 150vh;
  /* background-color: #6f3a5813; */
  background-image: url(./top-view-collection-isolated-breakfast-muffins.jpg);
  background-size: cover;

}
.submit-recipe-name{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  height: 7vh;
}
.add-recipe-name{
  width: 20%; 

}
.add-recipe-name:hover{
  background-color: #ddd; 
}

.button-add-image{
  width: 10%;
  height: 5vh;
  border: 2px solid #6F3A58;
  color: #000000;
  font-size: 0.3;
}
.button-add-image:hover{
  background: none;
  background-color:#6F3A58;
  color: #f0f0f0;
}
#icon-camera:hover{
  color: #f0f0f0;
}
.recipe-name-title{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1%;
  color: #6F3A58;
}

.submit-ingredients{
  display: flex;
  flex-direction: row;
  gap: 11%; 
  padding-top: 3%;
}

.submit-ingredients-title{
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1%;
  padding-top: 1%;
  color: #6F3A58;
}

table {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1%;
  padding-top: 1%;
  border-collapse: collapse;
  width: 30%

}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.supmit-input{
 border: none;
 width: 100%;
 height: 5vh;
}
.supmit-count{
  border: none;
  width: 30%;
 
  height: 5vh;
}

.button-add-ingredients{
  width: 10%;
  height: 5vh;
  border: 2px solid #6F3A58;
  font-size: 0.2;
}
.button-add-ingredients:hover{
  width: 12%;
  height: 5vh;
  background-color: #6F3A58;
  border: 2px solid #ffffff;
  color: #f0f0f0;
}
.button-add{
  padding-top: 2%;
  padding-left: 21%;
}

.submit-Details{
  display: flex;
  flex-direction: row;
  gap: 14%;
  padding-top: 3%;
}

.submit-Details-title{
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1%;
  padding-top: 1%;
  color: #6F3A58;
}
.table {  
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1%;
  padding-top: 1%;
  border-collapse: collapse;
  width: 30%
}
.step-title{
  font-size: 1.2rem;
}
.hr{
  width: 60%;
}

/*********submit-Contents end style******/







/*******footer style start********/
.footer-container{
  width: 100%;
  background-color: #6F3A58;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  background-position: center;
  height: 30vh;
  margin-top: 100px;
}
.footer-top{
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.footer-items{
  display: flex;
  justify-content: space-evenly;
  gap: 100px;

}
.footer-items a{
  text-decoration: none;
  color: #f8f8f8;
}
.footer-bottom{
  height: 20%; 
}

/*******footer style end********/